@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.login-input {
  /*background-color: black;*/
  background-color: transparent;
  border: 0;
  border-bottom: #3a144b solid 1px;
  font-size: 30px;
  margin: 5px;
}

.login-input:focus {
  outline: none;
}

.submit-button {
  font-size: 30px;
  width: fit-content;
  align-self: center;
  color: white;
  background-color: #603475;
  padding: 10px 10px 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

form {
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 50px;
  box-sizing: border-box;
  width: fit-content;
  background-color: white;
}

form > * {
  margin: 5px;
  width: 100%;
}

form a {
  color: blue;
}

h1 {
  font-size: 45px;
}

form p {
  font-size: 20px;
}
